In [1]:
import pandas as pd
import numpy as np

In [2]:
# create dataframe
raw_data = pd.read_excel('./nation_data.xlsx')

# drop unwated columns
raw_data.drop(['8 - Structure Number'],axis=1,inplace=True)

# drop columns with nan
raw_data.dropna(axis=1,how='all',inplace=True)

# fill nan values with 0
raw_data.fillna(value=0, inplace=True)

# replace 0 values with error code
replace = {'58 - Deck': {0 : '99 - Null Value'}}
raw_data.replace(to_replace=replace, inplace=True)

# factorize categorical variables and create dict of preprocessed data
categorical_data = {}
data_dict = {}
for i,x in enumerate(raw_data.dtypes.values): 
    col = raw_data.columns[i] 
    if x == object:        
        categorical_data[col] = pd.factorize(raw_data[col])
        data_dict[col] = categorical_data[col][0]
    else:
        data_dict[col] = raw_data[col]
        
# create dataframe of preprocessed data        
data = pd.DataFrame(data_dict,dtype=np.float32)

In [3]:
data.shape

(128214, 120)

In [13]:
states_ = data.columns.values[0]

In [14]:
cond_ = data.columns.values[data.columns.values == '58 - Deck']

In [56]:
cond_index = {(int(i[:2]),i[4:]) for i in raw_data[cond_]['58 - Deck'].values}
cond_index_val = [i[0] for i in sorted(list(cond_index)) if i[0] != 99]
cond_index_des = [i[1] for i in sorted(list(cond_index)) if i[0] != 99]

In [198]:
newdf = raw_data[[states_, cond_[0]]]
newdf.head()

  1 - State Name                   58 - Deck
0    1 - Alabama          5 - FAIR CONDITION
1    1 - Alabama          5 - FAIR CONDITION
2    1 - Alabama          5 - FAIR CONDITION
3    1 - Alabama  6 - SATISFACTORY CONDITION
4    1 - Alabama          4 - POOR CONDITION

In [197]:
[[int(i[:2]) for i in newdf['58 - Deck'] if int(i[:2]) != 99]

[5,
 5,
 5,
 6,
 4,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 7,
 7,
 4,
 5,
 5,
 6,
 4,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 5,
 8,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 7,
 7,
 5,
 6,
 5,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 5,
 4,
 5,
 7,
 6,
 6,
 7,
 4,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 7,
 8,
 5,
 5,
 6,
 6,
 6,
 4,
 6,
 6,
 6,
 5,
 5,
 7,
 5,
 6,
 5,
 4,
 6,
 5,
 5,
 4,
 6,
 7,
 7,
 7,
 7,
 5,
 6,
 5,
 5,
 6,
 6,
 7,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 8,
 6,
 5,
 6,
 7,
 5,
 5,
 5,
 6,
 7,
 7,
 5,
 7,
 9,
 5,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 5,
 5,
 6,
 7,
 8,
 6,
 7,
 6,
 7,
 7,
 6,
 6,
 7,
 7,
 3,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 3,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 7,
 7,
 7,
 6,
 7,
 5,
 8,
 7,
 5,
 7,
 5,
 6,
 7,
 8,
 7,
 7,
 6,
 6,
 7,
 6,
 6,
 6,
 8,
 7,
 7,
 7,
 8,
 8,
 8,
 7,
 7,
 8,
 7,
 8,
 5,
 8,
 9,
 8,
 6,
 7,
 8,
 9,
 7,
 7,
 7,
 9,
 8,
 8,
 9,
 5,
 7,
 9,
 8,
 8,
 9,
 5,
 8,
 5,
 5,
 6,
 5,
 7,
 4,
 5,
 7,
 7,
 6,
 4,
 5,
 6,
 5,
 4,
 7,
 3,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 4,
 6,
 6,
 6,
 4,
 6,
 5,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 4,
 7,
 5,
 6,
 5,
 4,
 6,
 6,
 6,
 6,
 7,
 5,
 5,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 5,
 6,
 4,
 6,
 6,
 5,
 7,
 6,
 6,
 7,
 6,
 6,
 5,
 5,
 6,
 7,
 7,
 5,
 5,
 4,
 6,
 7,
 6,
 6,
 7,
 6,
 6,
 8,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 8,
 5,
 6,
 7,
 7,
 6,
 5,
 7,
 6,
 7,
 5,
 7,
 7,
 7,
 7,
 5,
 5,
 6,
 7,
 7,
 6,
 5,
 6,
 7,
 4,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 7,
 5,
 5,
 5,
 5,
 5,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 5,
 7,
 7,
 8,
 7,
 8,
 5,
 7,
 6,
 8,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 6,
 4,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 3,
 6,
 7,
 7,
 6,
 8,
 5,
 8,
 6,
 7,
 7,
 6,
 6,
 5,
 8,
 7,
 6,
 5,
 7,
 5,
 6,
 5,
 6,
 5,
 6,
 7,
 8,
 8,
 6,
 7,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 8,
 5,
 7,
 6,
 7,
 8,
 8,
 9,
 7,
 7,
 5,
 8,
 8,
 8,
 7,
 6,
 8,
 5,
 7,
 7,
 6,
 7,
 6,
 7,
 6,
 7,
 6,
 9,
 9,
 9,
 9,
 9,
 7,
 9,
 9,
 9,
 9,
 8,
 6,
 7,
 4,
 7,
 7,
 3,
 6,
 5,
 5,
 6,
 4,
 6,
 6,
 4,
 6,
 6,
 6,
 8,
 5,
 6,
 3,
 5,
 4,
 4,
 4,
 6,
 5,
 7,
 5,
 8,
 1,
 5,
 7,
 6,
 7,
 5,
 6,
 6,
 8,
 8,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 4,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 4,
 7,
 6,
 6,
 4,
 7,
 6,
 8,
 6,
 5,
 6,
 5,
 6,
 7,
 6,
 6,
 7,
 5,
 6,
 7,
 7,
 5,
 6,
 6,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 7,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 6,
 6,
 7,
 7,
 7,
 7,
 8,
 6,
 8,
 5,
 5,
 5,
 6,
 7,
 6,
 6,
 7,
 7,
 6,
 6,
 5,
 6,
 7,
 6,
 6,
 7,
 5,
 7,
 6,
 6,
 7,
 6,
 8,
 8,
 8,
 5,
 8,
 6,
 6,
 8,
 6,
 6,
 7,
 8,
 5,
 7,
 5,
 7,
 7,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 7,
 7,
 7,
 5,
 5,
 6,
 5,
 7,
 8,
 6,
 6,
 7,
 6,
 6,
 7,
 4,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 7,
 6,
 5,
 8,
 8,
 6,
 8,
 8,
 7,
 7,
 6,
 5,
 5,
 5,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 4,
 3,
 6,
 6,
 5,
 9,
 5,
 3,
 5,
 6,
 5,
 6,
 5,
 5,
 6,
 7,
 7,
 6,
 7,
 5,
 8,
 6,
 5,
 5,
 5,
 4,
 6,
 7,
 5,
 5,
 5,
 6,
 4,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 8,
 6,
 6,
 8,
 5,
 6,
 6,
 5,
 8,
 6,
 5,
 6,
 6,
 6,
 5,
 7,
 5,
 6,
 6,
 6,
 6,
 7,
 9,
 5,
 7,
 5,
 6,
 6,
 7,
 6,
 4,
 4,
 7,
 6,
 6,
 5,
 6,
 6,
 7,
 7,
 5,
 7,
 6,
 6,
 7,
 6,
 6,
 7,
 7,
 7,
 5,
 6,
 6,
 6,
 8,
 7,
 6,
 7,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 7,
 7,
 7,
 6,
 7,
 5,
 7,
 7,
 6,
 6,
 6,
 7,
 5,
 7,
 7,
 8,
 6,
 7,
 7,
 6,
 6,
 7,
 7,
 6,
 7,
 6,
 6,
 7,
 7,
 5,
 6,
 6,
 7,
 7,
 8,
 7,
 7,
 8,
 7,
 7,
 7,
 8,
 8,
 6,
 5,
 5,
 5,
 7,
 6,
 7,
 6,
 5,
 8,
 7,
 7,
 5,
 6,
 6,
 7,
 9,
 7,
 7,
 8,
 8,
 8,
 7,
 8,
 9,
 8,
 5,
 4,
 6,
 6,
 3,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 3,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 4,
 5,
 4,
 7,
 6,
 5,
 7,
 7,
 5,
 7,
 6,
 6,
 7,
 4,
 5,
 6,
 8,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 7,
 6,
 7,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 7,
 4,
 6,
 6,
 5,
 5,
 5,
 6,
 4,
 6,
 6,
 7,
 6,
 5,
 5,
 7,
 7,
 7,
 7,
 5,
 5,
 5,
 5,
 7,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 ...]

In [193]:
newdf.head()

  1 - State Name                   58 - Deck
0    1 - Alabama          5 - FAIR CONDITION
1    1 - Alabama          5 - FAIR CONDITION
2    1 - Alabama          5 - FAIR CONDITION
3    1 - Alabama  6 - SATISFACTORY CONDITION
4    1 - Alabama          4 - POOR CONDITION

In [61]:
df = pd.DataFrame({"Condition Index": list(cond_index_val), "Description": cond_index_des})
df

   Condition Index                   Description
0                0              FAILED CONDITION
1                1  "IMMINENT" FAILURE CONDITION
2                2            CRITICAL CONDITION
3                3             SERIOUS CONDITION
4                4                POOR CONDITION
5                5                FAIR CONDITION
6                6        SATISFACTORY CONDITION
7                7                GOOD CONDITION
8                8           VERY GOOD CONDITION
9                9           EXCELLENT CONDITION

In [145]:
states = {i[4:].strip() for i in raw_data[states_].values if 'Puerto' not in i[4:].strip(' ') }

In [146]:
len(states)

50

In [163]:
states_counts = {(raw_data[states_].value_counts().index[i][4:].strip(' '),count) for i,count in enumerate(raw_data[states_].value_counts()) if 'Puerto' not in raw_data[states_].value_counts().index[i][4:].strip(' ')}

In [164]:
states_counts

{('Alabama', 1946),
 ('Alaska', 706),
 ('Arizona', 517),
 ('Arkansas', 3426),
 ('California', 2424),
 ('Colorado', 2270),
 ('Connecticut', 1778),
 ('Delaware', 253),
 ('Florida', 836),
 ('Georgia', 2785),
 ('Hawaii', 111),
 ('Idaho', 696),
 ('Illinois', 2678),
 ('Indiana', 3073),
 ('Iowa', 6112),
 ('Kansas', 4763),
 ('Kentucky', 1879),
 ('Louisiana', 1482),
 ('Maine', 903),
 ('Maryland', 2177),
 ('Massachusetts', 2390),
 ('Michigan', 4093),
 ('Minnesota', 1085),
 ('Mississippi', 1370),
 ('Missouri', 8279),
 ('Montana', 988),
 ('Nebraska', 6659),
 ('Nevada', 138),
 ('New Hampshire', 998),
 ('New Jersey', 3106),
 ('New Mexico', 358),
 ('New York', 9042),
 ('North Carolina', 7093),
 ('North Dakota', 1003),
 ('Ohio', 6098),
 ('Oklahoma', 7042),
 ('Oregon', 925),
 ('Pennsylvania', 5463),
 ('Rhode Island', 318),
 ('South Carolina', 928),
 ('South Dakota', 1151),
 ('Tennessee', 1553),
 ('Texas', 3946),
 ('Utah', 556),
 ('Vermont', 1412),
 ('Virginia', 5592),
 ('Washington', 877),
 ('West Virginia', 1832),
 ('Wisconsin', 2202),
 ('Wyoming', 586)}

In [165]:
states_list = [i[0] for i in states_counts]
counts_list = [i[1] for i in states_counts]

In [166]:
states_list

['New Jersey',
 'Missouri',
 'Colorado',
 'Kentucky',
 'Arkansas',
 'Maryland',
 'North Carolina',
 'Virginia',
 'Louisiana',
 'Wyoming',
 'Nevada',
 'West Virginia',
 'Indiana',
 'Utah',
 'Kansas',
 'Alaska',
 'Pennsylvania',
 'New Hampshire',
 'Minnesota',
 'Texas',
 'Nebraska',
 'Vermont',
 'Iowa',
 'Washington',
 'Massachusetts',
 'California',
 'Wisconsin',
 'Idaho',
 'Delaware',
 'New York',
 'South Carolina',
 'Oklahoma',
 'South Dakota',
 'Alabama',
 'Arizona',
 'Maine',
 'Ohio',
 'Hawaii',
 'New Mexico',
 'Connecticut',
 'Illinois',
 'Florida',
 'Oregon',
 'Tennessee',
 'Georgia',
 'Mississippi',
 'Montana',
 'Rhode Island',
 'Michigan',
 'North Dakota']

In [167]:
import plotly

In [168]:
code = pd.read_csv('./states.csv', header=None, index_col=0)
code = code[:50]

In [169]:
code

                 1
0
Alabama         AK
Alaska          AL
Arizona         AZ
Arkansas        AR
California      CA
Colorado        CO
Connecticut     CT
Delaware        DE
Florida         FL
Georgia         GA
Hawaii          HI
Idaho           ID
Illinois        IL
Indiana         IN
Iowa            IA
Kansas          KS
Kentucky        KY
Louisiana       LA
Maine           ME
Maryland        MD
Massachusetts   MA
Michigan        MI
Minnesota       MN
Mississippi     MS
Missouri        MO
Montana         MT
Nebraska        NE
Nevada          NV
New Hampshire   NH
New Jersey      NJ
New Mexico      NM
New York        NY
North Carolina  NC
North Dakota    ND
Ohio            OH
Oklahoma        OK
Oregon          OR
Pennsylvania    PA
Rhode Island    RI
South Carolina  SC
South Dakota    SD
Tennessee       TN
Texas           TX
Utah            UT
Vermont         VT
Virginia        VA
Washington      WA
West Virginia   WV
Wisconsin       WI
Wyoming         WY

In [170]:
states_code = [code[1][state] for state in states_list]

In [171]:
states_code

['NJ',
 'MO',
 'CO',
 'KY',
 'AR',
 'MD',
 'NC',
 'VA',
 'LA',
 'WY',
 'NV',
 'WV',
 'IN',
 'UT',
 'KS',
 'AL',
 'PA',
 'NH',
 'MN',
 'TX',
 'NE',
 'VT',
 'IA',
 'WA',
 'MA',
 'CA',
 'WI',
 'ID',
 'DE',
 'NY',
 'SC',
 'OK',
 'SD',
 'AK',
 'AZ',
 'ME',
 'OH',
 'HI',
 'NM',
 'CT',
 'IL',
 'FL',
 'OR',
 'TN',
 'GA',
 'MS',
 'MT',
 'RI',
 'MI',
 'ND']

In [175]:

data = [dict(type='choropleth',autocolorscale = True,
        locations = states_code, z = counts_list, locationmode = 'USA-states',
        marker = dict(line = dict(color = 'rgb(180,180,180)',width = 2)),
        colorbar = dict(title = "Frequency"))]

layout = dict(
        title = 'Distribution of Samples by State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
plotly.offline.plot(fig)

'file://C:\\Users\\Nick\\GitHub\\deterioration-modeling\\temp-plot.html'